uploader/src/main/resources/state-machine.json
{
  "Comment": "A pipeline for uploading video to YouTube or an S3 bucket",
  "StartAt": "AddInitialUploadDataToCache",
  "States": {
    "AddInitialUploadDataToCache": {
      "Type": "Task",
      "Resource": "${AddUploadDataToCache.Arn}",
      "Next": "CheckReprocess"
    },
    "CheckReprocess": {
      "Comment": "If the pipeline is being re-run and file has already been uploaded, skip to the transcoding task",
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.progress.copyProgress",
              "IsPresent": true
            },
            {
              "Variable": "$.progress.copyProgress.fullyCopied",
              "BooleanEquals": true
            }
          ],
          "Next": "CheckSelfHosted"
        }
      ],
      "Default": "GetChunkFromS3"
    },
    "GetChunkFromS3": {
      "Type": "Task",
      "Resource": "${GetChunkFromS3.Arn}",
      "Next": "CheckChunkInS3"
    },
    "CheckChunkInS3": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.progress.retries",
          "NumericEquals": 0,
          "Next": "CheckNotSelfHosted"
        },
        {
          "Variable": "$.progress.retries",
          "NumericGreaterThanEquals": 240,
          "Next": "FailS3Upload"
        }
      ],
      "Default": "WaitForChunkInS3"
    },
    "FailS3Upload": {
      "Type": "Fail",
      "Cause": "Timed out waiting for chunks in S3"
    },
    "WaitForChunkInS3": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetChunkFromS3"
    },
    "CheckNotSelfHosted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metadata.selfHost",
          "BooleanEquals": false,
          "Next": "UploadChunkToYouTube"
        }
      ],
      "Default": "MoveToNextUploadedChunk"
    },
    "UploadChunkToYouTube": {
      "Type": "Task",
      "Resource": "${UploadChunkToYouTube.Arn}",
      "Retry": [{
        "ErrorEquals": ["States.TaskFailed"],
        "IntervalSeconds": 10,
        "MaxAttempts": 3
      }],
      "Next": "MoveToNextUploadedChunk"
    },
    "MoveToNextUploadedChunk": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.progress.fullyUploaded",
          "BooleanEquals": true,
          "Next": "CheckYouTubeHosted"
        }
      ],
      "Default": "GetChunkFromS3"
    },
    "CheckYouTubeHosted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metadata.selfHost",
          "BooleanEquals": false,
          "Next": "AddYouTubeAssetToAtom"
        }
      ],
      "Default": "MultipartCopyChunkInS3"
    },
    "AddYouTubeAssetToAtom": {
      "Type": "Task",
      "Resource": "${AddAssetToAtom.Arn}",
      "Next": "MultipartCopyChunkInS3"
    },
    "MultipartCopyChunkInS3": {
      "Type": "Task",
      "Resource": "${MultipartCopyChunkInS3.Arn}",
      "Next": "MoveToNextChunkToCopy"
    },
    "MoveToNextChunkToCopy": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.progress.copyProgress.fullyCopied",
          "BooleanEquals": true,
          "Next": "CompleteMultipartCopy"
        }
      ],
      "Default": "MultipartCopyChunkInS3"
    },
    "CompleteMultipartCopy": {
      "Type": "Task",
      "Resource": "${CompleteMultipartCopy.Arn}",
      "Next": "SendToPluto"
    },
    "SendToPluto": {
      "Type": "Task",
      "Resource": "${SendToPluto.Arn}",
      "Next": "CheckSelfHosted"
    },
    "CheckSelfHosted": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.metadata.selfHost",
          "BooleanEquals": true,
          "Next": "SendToTranscoderV2"
        }
      ],
      "Default": "AddCompleteUploadDataToCache"
    },
    "SendToTranscoderV2":{
      "Type":"Task",
      "Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Next": "AddSubtitlesToMP4",
      "QueryLanguage": "JSONata",
      "Arguments":{
        "FunctionName":"${SendToTranscoderV2.Arn}",
        "Payload":{
          "input":"{% $states.input %}",
          "taskToken": "{% $states.context.Task.Token %}",
          "executionId": "{% $states.context.Execution.Id %}"
        }
      }
    },
    "AddSubtitlesToMP4": {
      "Type": "Task",
      "Resource": "${AddSubtitlesToMP4.Arn}",
      "Next": "AddSelfHostedAssetToAtom"
    },
    "AddSelfHostedAssetToAtom": {
      "Type": "Task",
      "Resource": "${AddAssetToAtom.Arn}",
      "Next": "AddCompleteUploadDataToCache"
    },
    "AddCompleteUploadDataToCache": {
      "Type": "Task",
      "Resource": "${AddUploadDataToCache.Arn}",
      "Next": "Complete"
    },
    "Complete": {
      "Type": "Pass",
      "End": true
    }
  }
}
